.App {
  text-align: center;
}

.light {
  background: rgb(172, 171, 170);
  color: black;
  height: 100px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  color: #fff;
  height: 100px;
  font-size: 1.5rem;
}

#theme {
  font-size: 1.5rem;
}
